body[data-ysp="enable"] #primary-inner > #player {
    position: sticky;
    top: 56px;
    z-index: 2010;
}

body[data-ysp="enable"] #full-bleed-container {
    position: sticky !important;
    top: 0;
    z-index: 2021;
}

body[data-ysp="enable"] #chat-container {
    z-index: 2030;
}
