/*
TODO: スクロールバーが表示される原因を潰す
暫定対応として、ウインドウサイズによってスクロールバーが表示されるので、スクロールバーを非表示としている
*/
body[data-ysp="enable"]:not(.style-scope)[standardized-themed-scrollbar]:not(.style-scope):not([no-y-overflow]):not(.style-scope)::-webkit-scrollbar:horizontal {
    display: none;
}

body[data-ysp="enable"] #page-manager {
    overflow: visible !important;
}

body[data-ysp="enable"] #primary-inner > #player {
    position: sticky;
    top: 56px;
    z-index: 2010;
}

body[data-ysp="enable"] #player-theater-container {
    position: sticky !important;
    top: 0;
    z-index: 2021;
}
